@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <p class="lead">We take your education seriously. Sure, why not?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>Contoso University is a s great place to learn about stuff that you didn't know about previously.</p>
    </div>
    <div class="col-md-4">
        <h2>Get more out of life</h2>
        <p>Earn a degree and follow your dreams. We can help you learn to help yourself. And if we can't then that's a bummer.</p>
    </div>
    <div class="col-md-4">
        <h2>Our faculty and staff are the best</h2>
        <p>Our professors are super duper and that's a fact. See, you've already started learning. So, come on and drink the Kool-Aid. We won't be all creepy about it or anything.</p>
    </div>
</div>